body{
  width:1000px;
  border: solid 1px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 1000px;
}

.syu{
    float: left;
  margin: 10px 0 0 20px;
}
.logo{
  float: left;
  margin: 20px 0 0 200px;
}
.logo img{
  width:200px;
}
.reserve img{
  width: 150px;
  float: right;
  margin:0 20px 5px 0;
}
.reserve:hover{
  color: white;
  opacity: 0.5;
}
.recrutiment img{
  width: 150px;
  float: right;
  margin:10px 20px 0 0;
}
.recrutiment:hover{
  color: white;
  opacity: 0.5;
}
header nav{
  clear: left;
}
header ul{
  height: 50px;
  width: 1000px;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #333;
  display: flex;
  justify-content:space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
header li{
  text-align: center;
  list-style-type: none;
  padding-top: 15px;
}
nav a{
    color: white;
    text-align: center;
    text-decoration: none;
}
 a:hover{
  color: red;
}
table,td,th{
  border: solid 1px;
}
.imageList {
  width: 1000px;
  display: flex;
}
.imageList__view {
  flex: 0 0 700px;
}
.imageList__view h2{
  text-align: center;
}
.imageList__thumbs {
  flex: 1;
  display: flex;
  flex-wrap:wrap;
}
.imageList__thumbnail {
  margin-left: 10px;
  flex: 0 1 calc(50% - 10px);
}
.imageList__thumbnail p{
  text-align: center;
  font-size: 50%;
}
.imageList__thumbnail:nth-child(n + 3) {
  margin-top: 10px;
}
.imageList img {
  width: 100%;
  display: block;
}
.imageList p{
  text-align: center;
}
.selected {
  position: relative;
}
.selected::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
}
.select {
  position: relative;
}
.select::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
}
footer{
  width:1000px;
}
footer img{
  width:1000px;
}
