body{
  width:1000px;
  border: solid 1px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 1000px;
}

.syu{
    float: left;
  margin: 10px 0 0 20px;
}
.logo{
  float: left;
  margin: 20px 0 0 200px;
}
.logo img{
  width:200px;
}
.reserve img{
  width: 150px;
  float: right;
  margin:0 20px 5px 0;
}
.reserve:hover{
  color: white;
  opacity: 0.5;
}
.recrutiment img{
  width: 150px;
  float: right;
  margin:10px 20px 0 0;
}
.recrutiment:hover{
  color: white;
  opacity: 0.5;
}
header nav{
  clear: left;
}
header ul{
  height: 50px;
  width: 1000px;
  padding-left: 0;
  margin-bottom: 0;
  background-color: #333;
  display: flex;
  justify-content:space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
header li{
  text-align: center;
  list-style-type: none;
  padding-top: 15px;
}
nav a{
    color: white;
    text-align: center;
    text-decoration: none;
}
 a:hover{
  color: red;
}
.spring{
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s;
}
.spring.scrollin{
  opacity: 1;
  transform: translateY(0);
}
.cake img{
  float: left;
  width: 500px;
}
.radios h2,p{
  text-align: center;
}
.shef{
  text-align: right;
  margin: 100px 5px 0 0;
}
h1{
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer{
  clear: both;
  width:1000px;
}
footer img{
  width:1000px;
}
